<div style="display: flex;">
  <div>
    <app-main-manager></app-main-manager>
  </div>
  <div class="container">
    <form [formGroup]="addTimeTable" (ngSubmit)="addNewTime()">

      <label for="dateLearn">Date Learn:</label>
      <input type="date" id="dateLearn" formControlName="dateLearn" required>

      <label for="startTime">Start Time:</label>
      <select formControlName="startTime" required>
        <option value="8:00">8:00</option>
        <option value="10:00">10:00</option>
        <option value="12:00">12:00</option>
        <option value="14:00">14:00</option>
        <option value="16:00">16:00</option>
        <option value="18:00">18:00</option>
      </select>

      <label for="room">Room:</label>
      <input type="text" name="room" formControlName="room">

      <button type="submit" (click)="addNewTime()">Add New</button>
    </form>

    <div *ngIf="timeClasses.length > 0; else noData">
      <table border="1">
        <thead>
          <tr>
            <th>Subject Name</th>
            <th>Description</th>
            <th>Date Learn</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Room</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeClass of timeClasses">
            <td>{{ timeClass.subject.subjectName }}</td>
            <td>{{ timeClass.subject.description }}</td>
            <td>{{ timeClass.dateLearn }}</td>
            <td>{{ timeClass.startTime }}</td>
            <td>{{ timeClass.endTime }}</td>
            <td>{{ timeClass.room }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <ng-template #noData>
      <p>Không có dữ liệu để hiển thị.</p>
    </ng-template>
  </div>
</div>
