<div class="profile">
  <button class="back-btn" (click)="goBack()">Back</button>
  <h2>Thông Tin Cá Nhân</h2>
  <div class="profile-detail">
    <p><strong>Họ Và Tên:</strong> {{ student?.fullName }}</p>
    <p><strong>UserName:</strong> {{ student?.username }}</p>
    <p><strong>Date of Birth:</strong> {{ student?.dateOfBirth }}</p>
    <p><strong>Address:</strong> {{ student?.address }}</p>
    <p><strong>Contact Info:</strong> {{ student?.contactInfo }}</p>
    <p><strong>Specialty:</strong> {{ student?.specialty}}</p>
  </div>
</div>
