<div class="profile">
  <button class="back-btn" (click)="goBack()">Back</button>

    <h2>Thông Tin Cá Nhân</h2>
    <div class="profile-detail">
      <p><strong>Họ Và Tên:</strong> {{ fullname }}</p>
      <p><strong>UserName:</strong> {{ username }}</p>
      <p><strong>Date of Birth:</strong> {{ dob }}</p>
      <p><strong>Address:</strong> {{ address }}</p>
      <p><strong>Contact Info:</strong> {{ contact }}</p> 
      <p><strong>Specialty:</strong> {{ specialty }}</p>
    </div>
  </div>
  