<div class="info">
  <!-- Nút Back ở góc trên trái -->
  <button class="back-btn" (click)="goBack()">Back</button>

  <h2>Information</h2>
  <form (ngSubmit)="save()">
    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" id="address" [(ngModel)]="user.address" name="address" [disabled]="!isEditing" />
    </div>

    <div class="form-group">
      <label for="contactInfo">Contact:</label>
      <input type="text" id="contactInfo" [(ngModel)]="user.contactInfo" name="contactInfo" [disabled]="!isEditing" />
    </div>

    <div class="form-group">
      <label for="specialty">Specialty:</label>
      <input type="text" id="specialty" [(ngModel)]="user.specialty" name="specialty" [disabled]="!isEditing" />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="user.password" name="password" [disabled]="!isEditing" />
    </div>

    <div class="actions">
      <button type="button" (click)="edit()">Sửa</button>
      <button type="submit" [disabled]="!isEditing">Lưu Thay Đổi</button>
    </div>
  </form>
</div>
