<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  
</head>
<body>
  <div class="wrapper">
      <div class="title-text">
        <div class="title signup">Signup </div>
        <div class="title confirm">Confirm </div>
      </div>
      <div class="form-container" >
        <div class="slide-controls">
          <input type="radio" name="slide" id="signup" checked>
          <input type="radio" name="slide" id="confirm">
          <label for="signup" class="slide signup">Signup</label>
          <label for="confirm" class="slide confirm">Confirm</label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner" >
          <form action="#" class="signup" [formGroup]="signupForm" (submit)="Signup()">
            <div class="field">
              <input type="text" placeholder="Email Address" formControlName="username" for="username" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Password" formControlName="password" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Re-enter Password" required>
            </div>
            <div class="field">
              <input type="text" placeholder="Full name" formControlName="fullname" required>
            </div>
            <div class="field">
              <input type="date" placeholder="Date of birth" formControlName="dob">
            </div>
            <div class="field">
              <input type="text" placeholder="Address" formControlName="address">
            </div>
            <div class="field">
              <input type="text" placeholder="Contact info" formControlName="phone">
            </div>
            <div class="field">
              <input type="text" placeholder="Specialty" formControlName="specialty">
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Register">
            </div>
            <div class="signin-link...">Already have a account? <a href="">Signin</a></div>
          </form>
          <form action="#" class="confirm">
            <div class="field">
              <input type="text" placeholder="Enter OTP" for="OTP" required>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Confirm" (submit)="Confirm()">
            </div>
          </form>
        </div>
      </div>
    </div>

</body>
</html>
