<div style="display: flex;">
    <div>
    <app-main-manager></app-main-manager>
    </div>
    <div>
<div class="timetable">
    <div class="week-names">
      <div><th>Monday</th></div>
      <div><th>Tuesday</th></div>
      <div><th>Wednesday</th></div>
      <div><th>Thursday</th></div>
      <div><th>Friday</th></div>
      <div class="weekend"><th>Saturday</th></div>
      <div class="weekend"><th>Sunday</th></div>
    </div>
    <div class="time-interval">
      <div>8:00 - 10:00</div>
      <div>10:00 - 12:00</div>
      <div>12:00 - 14:00</div>
      <div>14:00 - 16:00</div>
      <div>16:00 - 18:00</div>
      <div>18:00 - 20:00</div>
    </div>
    <div class="content">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  </div>
  </div>