<div class="hero-section">
    <div class="navbar">
      <div class="logo">School Manager</div>
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Contact</a></li>
        <li><button (click)="logout()" class="join-now">Sign in</button></li>
      </ul>
    </div>
    
    <div class="hero-content">
      <p class="tagline">Information of education</p>
      <h1>Get Educated Online From Your Home</h1>
      <p class="description">
        
      </p>
      <div class="buttons">
        <!-- src/app/home/home.component.html -->
<div class="buttons">
    <div class="buttons">
     


        <button class="btn read-more" (click)="navigate()">Sign in</button>
        <button class="btn join-now" (click)="navigate2()">Sign up</button>


      </div>
      
  </div>
  
      </div>
    </div>
    
    <div class="carousel-controls">
      <button>&lt;</button>
      <button>&gt;</button>
    </div>
  </div>

