<div class="teacher-profile-container">
  <h2>Teacher Profile</h2>

  <!-- Display teacher information in a table -->
  <table class="teacher-info-table">
    <tr>
      <th>Full Name</th>
      <td>{{ teacher.fullName }}</td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td>{{ teacher.dateOfBirth | date }}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>{{ teacher.address }}</td>
    </tr>
    <tr>
      <th>Contact Info</th>
      <td>{{ teacher.contactInfo }}</td>
    </tr>
    <tr>
      <th>Specialty</th>
      <td>{{ teacher.specialty }}</td>
    </tr>
  </table>
</div>
