<div style="display: flex; margin-bottom: 20px;">
    <div>
      <app-main-manager></app-main-manager>
    </div>

  <div>
    <button>Add new student</button>
  <div class="container" *ngIf="user.length > 0; else noData">
    <table>
      <thead>
        <tr>
          <th>ID Người Dùng</th>
          <th>Tên Người Dùng</th>
          <th>Ngày Sinh</th>
          <th>Địa Chỉ</th>
          <th>Liên Hệ</th>
          <th>Vai Trò</th>
          <th>Chuyên Ngành</th>
          <th>Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of user">
          <td>{{ u.userId }}</td>
          <td>{{ u.fullName }}</td>
          <td>{{ u.dateOfBirth | date:'dd/MM/yyyy' }}</td>
          <td>{{ u.address }}</td>
          <td>{{ u.contactInfo }}</td>
          <td>{{ u.role }}</td>
          <td>{{ u.specialty }}</td>
          <td><button>Edit</button> <button>Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #noData>
    <p>Không có dữ liệu để hiển thị.</p>
  </ng-template>
</div>
</div>