<button class="back-btn" (click)="goBack()">Back</button>
<div class="schedule-container">
  <h2>Class Schedule</h2>
  <table>
    <tr>
      <th class="time-header"></th>
      <th class="monday">Monday</th>
      <th class="tuesday">Tuesday</th>
      <th class="wednesday">Wednesday</th>
      <th class="thursday">Thursday</th>
      <th class="friday">Friday</th>
    </tr>
    <tr>
      <td class="time-cell">07:30 - 08:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="time-cell">08:30 - 09:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="time-cell">09:30 - 10:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="time-cell">10:30 - 11:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="time-cell">11:30 - 12:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="time-cell">12:30 - 13:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="time-cell">13:30 - 14:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="time-cell">14:30 - 15:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="time-cell">15:30 - 16:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
