<div class="class-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <app-main-manager></app-main-manager>
  </div>

  <!-- Main Content -->
  <div class="content">
    <!-- Add Class Form -->
    <div class="form-container">
      <h2>Add New Class</h2>
      <form [formGroup]="addClassForm" (ngSubmit)="addClass()">
        <div class="form-group">
          <label for="nameClass">Class Name:</label>
          <input
            type="text"
            id="nameClass"
            formControlName="nameClass"
            placeholder="Enter class name"
            required
          />
        </div>
        <div>
          <label for="subject-select">Chọn môn học:</label>
          <select id="subject-select" [(ngModel)]="selectedSubjectId">
            <option *ngFor="let sub of subject" [value]="sub.subjectId">
              {{ sub.subjectName }}
            </option>
          </select>

          <div>
            <label for="teacher-select">Chọn giáo viên:</label>
            <select id="teacher-select" [(ngModel)]="selectedTeacherId">
              <option *ngFor="let tea of filteredTeacher" [value]="tea.userId">
                {{ tea.fullName + " " }} {{tea.specialty}} 
              </option>
            </select>
          </div>
        <button class="submit-button" type="submit">Add Class</button>
        </div>
      </form>
    </div>

    <!-- Class List -->
    <div *ngIf="classData && classData.length > 0; else noData" class="class-list-container">
      <h2>Class List</h2>
      <table class="styled-table">
        <thead>
          <tr>
            <th>Class ID</th>
            <th>Class Name</th>
            <th>Student Count</th>
            <th>Student List</th>
            <th>Schedule</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let classItem of classData">
            <td>{{ classItem.classId }}</td>
            <td>{{ classItem.className }}</td>
            <td>{{ classItem.studentCount }}</td>
            <td>
              <button class="detail-button" (click)="viewListStudent(classItem.classId)">
                View Students
              </button>
            </td>
            <td>
              <button class="detail-button" (click)="viewDetail(classItem.classId)">
                View Details
              </button>
            </td>
            <td>
              <button class="delete-button" (click)="deleteClass(classItem.classId)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- No Data Template -->
    <ng-template #noData>
      <p class="no-data-message">No classes available to display.</p>
    </ng-template>
  </div>
</div>
